<div class="col-4 mb-3">
    <div class="card">
        <img src="/assets/imgs/desafio_latam.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ this.nombre }}</h5>
            <p class="card-text">{{ this.descripcion }}</p>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Go somewhere</a>
        </div>
    </div>
</div>